<!DOCTYPE html>
<html>
	<head>
		<style>
			a:link {
			    color: green;
			    background-color: transparent;
			    text-decoration: none;
			}
			a:visited {
			    color: pink;
			    background-color: transparent;
			    text-decoration: none;
			}
			a:hover {
			    color: red;
			    background-color: transparent;
			    text-decoration: underline;
			}
			a:active {
			    color: yellow;
			    background-color: transparent;
			    text-decoration: underline;
			}
		</style>
	</head>

	<body>

	<h1>Wish list</h1>

		<h3>Paris</h3>
			<li> 
				<a href="https://www.airbnb.co.uk/rooms/2984261">place at Montmartre</a>
			</li>
			<li> 
				<a href="https://www.airbnb.co.uk/rooms/6283365">Charming studio flat in Montmartre</a>
			</li>
			<li> 
				<a href="https://www.airbnb.co.uk/rooms/1343569">The little lovenest of Montmartre</a>
			</li>

		<h3>Canary Islands</h3>
			<li>
				<a href="https://www.airbnb.co.uk/rooms/1900058">Apartment 2 bedroom close to beach</a>
			</li>
			<li> 
				<a href="https://www.airbnb.co.uk/rooms/1709054">1ªLINEA DE PLAYA DE " LAS CANTERAS"</a>
			</li>
			<li> 
				<a href="https://www.airbnb.co.uk/rooms/5622486">House Las Canteras Beach</a>
			</li>

	</body>
</html>
